<!DOCTYPE html>
<html>
  <head>
    <title>Food For Thought</title>
    <link rel="icon" href="http://downloads.andyroid.net/website/v2//wp-content/uploads/2015/07/Slice-Pizza-icon.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
