/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.background {
  background-image: url(food-wallpaper.jpg);
  background-size: cover;
  background-color: white;
  padding-bottom: 40%;
}

.nav {
  background-color: white;
  padding: 15px;
  position: relative;
  padding-right: 70%;
  margin-bottom: 2%;
}

.nav-link {
  color: #871B1B;
  padding: 15px;
  border-left: .5px solid black;
  text-decoration: none;
  border-top: .5px solid black;
  border-radius: 4px;
}
